@charset "UTF-8";

/* 全体設定 */
body {
    margin: 20px;
    font-size: 14px;
}

/* テーブル全体 */
table {
    border: solid 1px #84b2e0;
    border-collapse: collapse;
}

/* 見出しセル */
th {
    text-align: center;
    color: white;
    background: linear-gradient(#829ebc, #225588);
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
    padding: 4px 10px;
}

/* データセル */
td {
    padding: 4px 10px;
    border: solid 1px #84b2e0;
}

/* ボタン */
button {
    width: 90px;
    margin: 10px 4px;
    padding: 4px;
}

/* 赤文字 */
.red {
    color: red;
}

/* ナビゲーション */
#nav {
    list-style: none;
    display: flex;
    padding: 0;
}

#nav li {
    margin-right: 10px;
}
